@mixin light {
    --purple: #8a5ea9;
    --white: #ffffff;
    --gray: #f5f6fa;
    --blue: #3ca6db;
    --light-blue: #8dd0fa;
    --dark-blue: #5a9fcc;
    --red: #e8707d;
}

@mixin dark {
    --purple: #FFF;
    --white: #fff;
    --gray: #fff;
    --blue: blue;
    --light-blue: blue;
    --dark-blue: blue;
    --red: red;
}


body {
    @include light();
}

body.dark {
    @include dark();
}


@media (prefers-color-scheme: dark) {
    body {
        @include dark()
    }

    body.light {
        @include light();
    }
}