@import '@variables';

.totalTitle {
  font-size: $primary-text;
  font-weight: bold;
}

.totalTitleContainer {
  color: var(--dark-gray);
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.campNameTitle {
  color: var(--dark-gray);
  font-size: $small-text;
}

.legendsContainer {
  padding: 3rem;
}
